@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap');



body {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    padding: 20px;
}
h1 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
.collum {
  float: left;
  width: 33.33%;
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    margin: 10px 0;
}
@media screen and (max-width: 600px) {
    .collum {
        width: 100%;
    }
}